<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.karamoff.keyboardlayout.deus</string>
	<key>CFBundleName</key>
	<string>DeUs</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>KLInfo_German — DeUs</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>dev.karamoff.keyboardlayout.deus.german-deus</string>
		<key>TISIntendedLanguage</key>
		<string>de</string>
	</dict>
</dict>
</plist>
